<body>
  <div class="title">
    <h1>Welcome</h1>
  </div>
  <div class='description'>
        <p><strong>PhoneBook</strong> is a phone-book app built in Ruby on rails, where users login to their accounts and show their
      details to other users of the app </p>
  </div>

</body>
<section>
  <div class= "signup"> <%= button_to "sign up",'/users/new', method: :get%></div>
  <div class="login"><%= button_to "login", '/login', method: :get %></div>
</section>
