<h1>Hi <%= @user.email.split('@').first %>,</h1>

<p>Thanks for registering! To confirm your registration click the URL below.<p>

<%=link_to "#{confirm_email_user_url(@user.confirm_token)}",confirm_email_user_url(@user.confirm_token) %>