<%= button_to "back", user_path(current_user.id), method: :get, class: "btn btn-secondary btn-back" %>

 <div id="title"><h1> You are at <%= @user.email%>'s profile </h1></div>

<body>
    <% list = @user.details %>
    <%if list.any?%>
        <ol>
        <center>
            <%list.each do |d|%>
                <li>
                    <div class= "card">
                        Phone: <%= d.phone%> 
                        <br>
                        Address: <%= d.address%>
                        <br>
                        <br>
                    </div>
                </li>
            <%end%>
        </center>
        </ol>
    <%end%>
</body>